/* mobile devices */
@media screen and (max-width:576px) {
    nav, nav ul, 
    .banner,  
    .about-items, 
    .skills, 
    .resume-content, 
    footer{
        flex-direction: column;
       } 
       nav{
        padding: 10px;
       }
    nav ul{
        gap: 20px;
    }
    .header{
        background-image: none;
    }
   .banner{
    margin: 5px;
   }
   .banner .banner-content{
    width: calc(100% - 10px);
   }
   .btn{
    margin-bottom: 20px;
   }
   .banner-image{
    width: 100%;
   }
    #about-section{
        padding: 20px;
    }
    #resume{
        width: 100%;
    }
   footer{
    padding: 20px;
   }
   .foot-column{
    width: 100%;
   }
   footer input, footer textarea{
    width: calc(100% - 40px);
   }
}

/* tablet specific media query */
.hide{
    display: none;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav, .banner, .skills, footer{
        flex-direction: column;
    }
    nav{
        padding: 20px 10px;
    }
    .banner{
        margin: 15px;
     
    }
    .banner .banner-content{
        width: 100%;
    }
    .banner-image{
        width: 70%;
    }
    #about-section{
        padding: 30px 20px;
        width: calc(100% - 40px);
    }
    .skills{
        margin: 15px;
    }   
    #resume{
        width: 100%;
    }
    footer{
        padding: 20px;
    }
    .foot-column{
        width: calc(100% - 40px);
    }
}