.hide{
    display: none;
}
@media screen and (max-width:576px) {
    nav, nav ul, 
    .banner,  
    .about-items, 
    .skills, 
    .resume-content, 
    footer{
        flex-direction: column;
       } 
       nav{
        padding: 10px;
       }
    nav ul{
        gap: 20px;
    }
    .header{
        background-image: none;
    }
   .banner{
    margin: 10px;
   }
   .banner-content{
    width: calc(100% - 20px);
   }
   .btn{
    margin-bottom: 20px;
   }
   .banner-image{
    width: 100%;
   }
    #about-section{
        padding: 20px;
    }
    #resume{
        width: 100%;
    }
   footer{
    padding: 20px;
   }
   .foot-column{
    width: 100%;
   }
   footer input, footer textarea{
    width: calc(100% - 40px);
   }
}
